**/build/
**/build-sim/
*.b#*
*.bin
.cache/
*.d
*.elf
*.hex
*.job
*.lss
*.map
*.o
*.pro
*.s#*
*.uf2
*srec
.DS_Store
.idea/
.vs
.vscode
docs/
*.kicad_sch-bak
*-backups/
*.bak
_autosave*
fp-info-cache
.~*
*.plan
