**/build/
**/build-sim/
*.b#*
*.bin
*.d
*.elf
*.hex
*.job
*.lss
*.map
*.o
*.pro
*.s#*
*.uf2
*srec
.DS_Store
.idea/
.vs
.vscode
docs/
*.kicad_sch-bak
*-backups/
*.bak
_autosave*
fp-info-cache
.~*
*.plan
utils/festival_act_popularity_sorter/creds.json
utils/festival_act_popularity_sorter/*festival_schedule_arr.txt
utils/festival_act_popularity_sorter/.cache
utils/festival_act_popularity_sorter/venv